@font-face {
    font-family: SpaceX;
    src: url(SpaceX.ttf);
    font-weight: bold;
}

@font-face {
    font-family: TESLA;
    src: url(TESLA.ttf);
    font-weight: bold;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.spaceX {
    font-family: SpaceX;
    src: url(SpaceX.ttf);
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: -1px;
    right: 1px;
}

.launchText {
    font-family: TESLA;
    src: url(TESLA.ttf);
}

#inputDisplay {
    margin: 100px auto;
    margin-bottom: 6px;
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    display: flex;
}

#launches {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.launch-info {
    width: 100%;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.launch-info h3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.launch-info p {
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.launch-info hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading-spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading h2 {
    font-size: 2rem;
    color: #fff;
    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}

.card {
    position: inherit;
    background: #fff;
    max-width: 325px;
    width: 325px;
    height: auto;
    margin: 25px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
    border-radius: 10px;
    overflow: hidden;
}

.card-image {
    max-height: 200px;
}

.card-image img {
    max-width: 100%;
    height: auto;
}

.card-info {
    position: inherit;
    color: #222;
    padding: 10px 20px 20px;
}

.card-info h3 {
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 5px;
}

.card-info p {
    font-size: 1em;
    margin-bottom: 5px;
}

.pagination {
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
}

.pagination li {
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
}

.previous-page,
.next-page {
    background: #0ab1ce;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
}

.previous-page:hover {
    transform: translateX(-5px);
}

.next-page:hover {
    transform: translateX(5px);
}

.current-page,
.dots {
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background: #0ab1ce;
}

.disable {
    background: #ccc;
}

#noMoreData {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
